.uber-button{
    background-color: black;
    color: white;
    border: none;
    font-size: 11px;
    cursor: pointer;
    transition: opacity 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    vertical-align: top;
}

.uber-button:hover{
    opacity: 0.8;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
    vertical-align: top;
}

.amazon-button:hover{
    background-color: rgb(242, 206, 4);
}

.github-button{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15ms;
    margin-right: 10px;
    vertical-align: top;
}

.github-button:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.bootstrap-started-button{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 13;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.8s;
    vertical-align: top;
}

.bootstrap-started-button:hover{
    background-color: rgb(94, 61, 142);
}

.bootstrap-download-button{
    background-color: white;
    color: rgb(108, 107, 125);
    padding-top: 8.8px;
    padding-bottom: 8.8px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(108, 107, 125);
    cursor: pointer;
    border-style: solid;
    vertical-align: top;
    margin-right: 10px;
    transition: background-color 0.8s, color 0.8s;
}

.bootstrap-download-button:hover{
    background-color: rgb(108, 107, 125);
    color: white;
}

.linkedin-apply-button{
    background-color: rgb(10, 102, 194);
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 18px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
    vertical-align: top;
}

.linkedin-apply-button:hover{
    background-color: rgb(8, 81, 154);
}

.linkedin-save-button{
    background-color: white;
    padding-top: 8.4px;
    padding-bottom: 8.4px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 1px;
    border-radius: 18px;
    border-style: solid;
    border-color: rgb(10, 102, 194);
    font-weight: bold;
    font-size: 13px;
    color: rgb(10, 102, 194);
    cursor: pointer;
    transition: background-color 0.15s;
    vertical-align: top;
}

.linkedin-save-button:hover{
    background-color: rgba(10, 102, 194, 0.15);
    border-width: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
}