p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.card-container {
  width: 150px;
  margin-right: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.user-profile-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.card-user-description {
  padding-top: 2px;
  padding-bottom: 7px;
  padding-left: 6px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 2px;
}

.friend-container {
  margin-bottom: 7px;
}

.user-mutual-friend {
  width: 27px;
  height: 27px;
  border-radius: 200px;
  vertical-align: middle;
  margin-right: 3px;
}

.user-friend {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

.add-friend-button {
  background-color: rgb(0, 153, 255);
  color: white;
  padding: 5px 13px;
  border: none;
  border-radius: 3px;
}