.ex-one-name {
    display: block;
    width: 130px;
    margin-bottom: 7px;
}

.ex-one-email {
    display: block;
    width: 130px;
}

.ex-two-text {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.google-logo {
    width: 150px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.search-bar-two {
    font-size: 16px;
    background-color: #fff;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin-bottom: 30px;
}

.name-box {
    font-family: Arial;
    width: 120px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: solid;
    border-color: rgb(101, 101, 101);
    border-width: 1px;
    border-radius: 7px;
    margin-bottom: 8px;
}

.email-box {
    font-family: Arial;
    width: 258px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: solid;
    border-color: rgb(101, 101, 101);
    border-width: 1px;
    border-radius: 7px;
    display: block;
    margin-bottom: 8px;
}

.sign-up-button {
    background-color: rgb(0, 126, 223);
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    width: 272px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
}

.sign-up-button:hover {
    opacity: 0.7;
}

.uber-title {
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

.box-location {
    background-color: rgb(224, 224, 224);
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    display: block;
    margin-bottom: 5px;
    border: none;
}

.uber-button{
    background-color: black;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 10px;
}

.uber-button:hover{
    opacity: 0.8;
}

.uber-later-button {
    background-color: rgb(224, 224, 224);
    color: rgb(57, 57, 57);
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    vertical-align: top;
    transition: background-color 0.4s, color 0.4s;
    margin-top: 10px;
}

.uber-later-button:hover {
    background-color: black;
    color: #fff;
}

